<section class="section">
  <div class="section-rigth">
    <h1 class="title1">Make remote work</h1>
    <p class="mt-5 mb-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae leo
      nulla. Curabitur id nibh nec tortor dignissim imperdiet. Donec ullamcorper
      viverra velit eu tempor. Cras at ligula a nunc laoreet dictum. Nulla
      mollis ex vel nibh sodales ultricies porta in elit. Aenean convallis
      semper pharetra. Fusce a viverra erat, a euismod enim. Mauris et lectus eu
      quam pulvinar imperdiet eget ut urna. Orci varius natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus.
    </p>

    <button class="btn btn-clack">Saiba Mais</button>

    <div class="section-clients">
      <img
        src="../../../../assets/images/client-databiz.svg"
        alt="Databiz"
        class="mb-3"
      />
      <img
        src="../../../../assets/images/client-audiophile.svg"
        alt="AudioPhile"
        class="mb-3"
      />
      <img
        src="../../../../assets/images/client-meet.svg"
        alt="Meet"
        class="mb-3"
      />
      <img
        src="../../../../assets/images/client-maker.svg"
        alt="Maker"
        class="mb-3"
      />
    </div>
  </div>

  <div class="section-image">
    <img
      src="../../../../assets/images/image-hero-desktop.png"
      class="desktop-only"
      alt="Hero"
    />
    <img
      src="../../../../assets/images/image-hero-mobile.png"
      class="mobile-only"
      alt="Hero"
    />
  </div>
</section>
